<div class="row">
    <h1>Movies</h1>

    <div class="row">
        <input type="text" class="search form-control" ng-model="searchInput" ng-change="searchEvent()" placeholder="Search..." />
    </div>

    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-repeat="item in moviesData" ng-click="previewMovie(item.id)">
            <div class="row">
                <img ng-if="item.imgLink !== null" src="{{item.imgLink}}" />
                <img ng-if="item.imgLink === null" src="no-poster-available.jpg" />
            </div>
            <div class="row">
                <h2>{{item.title}}</h2>
            </div>
        </div>
    </div>
</div>
